.banner-background {
  min-height: 720px;
  height: 100vh;
  background-image: url(../../images/home-banner.png);
  background-size: cover;
  background-position: center;
  display: flex;
}

.headline {
  color: white;
  width: 440px;
}

.headline p {
  font-size: 20px;
}

.headline a {
  padding: 16px 24px;
  background: #EB5757;
  border-radius: 40px;
  color: white;
}
