.banner-background {
  min-height: 720px;
  height: 90vh;
  background-image: url(../../images/home-banner.png);
  background-size: cover;
  background-position: center;
  display: flex;
}

.headline {
  color: white;
  width: 480px;
  margin-top: 120px;
}

.headline p {
  font-size: 20px;
  margin: 32px 0 40px 0;
}
