.discovery-call {
  text-align: center;
  padding: 64px;
  background: #333333;
  color: white;
  border-radius: 32px;
  width: 600px;
  margin: 64px auto;
}

.discovery-call p {
  margin: 32px;
  font-size: 18px;
}
