footer {
  text-align: center;
  background: #f2f2f2;
  padding: 64px;
}

footer p {
  font-size: 18px;
  margin: 16px 0;
  font-weight: normal;
}

.footer-divider {
  margin: 56px;
  color: #828282;
}

.small-print {
  font-size: 14px;
  margin: 0;
  line-height: 160%;
  font-weight: normal;
}

.social-media {
  margin-top: 16px;
}
