<!-- <html> -->
{% extends "layout.html" %}

{% set title = 'Sex Homework Society' %}

{% block body %}
<div class="banner-background">
  <div class="banner container">
    <nav>
      <p class="logo">Haneen Khan</p>
      <ul class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#" class="courses">
          Courses
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="16" height="16" viewBox="0 0 24 24" stroke-width="3" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <polyline points="6 9 12 15 18 9" />
          </svg>
        </a></li>
        <li><a href="#">Coaching</a></li>
        <li><a href="#">Membership</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#" class="nav-cta">Book a call</a></li>
      </ul>
    </nav>
    <div class="headline">
      <h1>Est sit lectus in justo nunc ac.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum velit ut ultricies neque ultricies. Id laoreet egestas arcu posuere at at sem.</p>
      <a href="#" class="cta-red">View latest course</a>
    </div>
  </div>
  <div class="dropdown">
    <p class="header">Sex Homework Society</p>
    <hr>
    <a href="#" class="course">Season 1 (9 weeks)</a>
    <a href="#" class="course">Season 2 (9 weeks)</a>
    <p class="header">Workshops</p>
    <hr>
    <a href="#" class="course">Boundaries (4 weeks)</a>
  </div>
</div>

<div class="dark-grey-background">
  <div class="container highlights">
    <div class="highlight">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
      </svg>
      <h3>Courses</h3>
      <p>Revamp your sex life in 9 weeks - connect to your inner sexpert.</p>
    </div>
    <div class="highlight">
      <h3>Coaching</h3>
      <p>Receive sex & intimacy mentorship through 1-1 coaching.</p>
    </div>
    <div class="highlight">
      <h3>Membership</h3>
      <p>Join an intimate community of curious sex learners!</p>
    </div>
  </div>
</div>

<section class="home-section container">
  <div>
    <p class="pretitle">MEET HANEEN</p>
    <h2>Hi I’m Haneen, a sex coach.</h2>
    <p class="home-section-description">I believe that we are all empowered erotic beings, with a deep connection to our primal desires but that it all gets covered up by conditioning and shame. My work with you is to help you peel that sticky veil away - and get clarity on what you really desire. And - more than that — be able to communicate it courageously.</p>
    <a href="#" class="btn-outline">
      About me
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#EB5757" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <polyline points="9 6 15 12 9 18" />
      </svg>
    </a>
  </div>
  <img src="../assets/images/home-about.png" alt="">
</section>

<section class="home-section container">
  <img src="../assets/images/home-course.png" alt="Banana coming out of a jean zipper">
  <div>
    <p class="pretitle">COURSE SNAPSHOT</p>
    <h2>Sex Homework Society</h2>
    <p class="home-section-description">Join 15 fellow sex enthusiasts, for a playful 9-week course that goes beyond dirty talk and dildos. A deep dive into our sex lives designed to unleash your wildest self-expression. Connect to your authentic desires, peel away all the sexual shame and conditioning absorbed and feel at ease with communication in the bedroom.</p>
    <a href="#" class="btn-outline">
      Dirty details
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#EB5757" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <polyline points="9 6 15 12 9 18" />
      </svg>
    </a>
  </div>
</section>

<section class="discovery-call">
  <h3>Let’s talk about your sex life ☕️</h3>
  <p>If you’d like a feel for the course content or me as a facilitator / coach book a virtual tea with me here.</p>
  <a href="#" class="cta-red">Schedule a call</a>
</section>

<footer>
  <h3>Subscribe to my newsletter</h3>
  <p>For monthly updates on new products, workshops and fun sex relevant content that's inspiring.</p>
  <form action="/">
    <input type="email" placeholder="Email address" class="input-text">
    <input type="submit" value="Subscribe" class="subscribe">
  </form>
  <hr class="footer-divider">
  <p class="small-print">© Copyright 2020 Sex Homework Society</p>
  <p class="small-print">hello@sexhomeworksociety.com</p>
  <div class="social-media">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#4f4f4f" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#4f4f4f" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <rect x="4" y="4" width="16" height="16" rx="4" />
      <circle cx="12" cy="12" r="3" />
      <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
    </svg>
  </div>
</footer>
{% endblock %}
