<!-- <html> -->
{% extends "layout.html" %}

{% set title = 'Sex Homework Society' %}

{% block body %}
<div class="banner-background">
  <div class="banner container">
    <nav>
      <p class="logo">Haneen Khan</p>
      <ul class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Coaching</a></li>
        <li><a href="#">Membership</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#" class="nav-cta">Book a call</a></li>
      </ul>
    </nav>
    <div class="headline">
      <h1>Est sit lectus in justo nunc ac.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum velit ut ultricies neque ultricies. Id laoreet egestas arcu posuere at at sem.</p>
      <a href="#">View latest course</a>
    </div>
  </div>
</div>

<div class="dark-grey-background">
  <div class="container highlights">
    <div class="highlight">
      <h3>Courses</h3>
      <p>Revamp your sex life in 9 weeks - connect to your inner sexpert.</p>
    </div>
    <div class="highlight">
      <h3>Coaching</h3>
      <p>Receive sex & intimacy mentorship through 1-1 coaching.</p>
    </div>
    <div class="highlight">
      <h3>Membership</h3>
      <p>Join an intimate community of curious sex learners!</p>
    </div>
  </div>
</div>
{% endblock %}
