{% load sass_tags static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    {% with description="shs description goes here" %}

    <meta name="description" content="{{ description }}">

    <!-- Facebook Open Graph data -->
    <!-- <meta property="og:title" content="Wandern | Plan your trail accommodation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://wandern.herokuapp.com" />
    <meta property="og:image" content="http://wanderntrails.com/og-image.png" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:site_name" content="Wandern" /> -->

    <!-- Twitter Card data -->
    <!-- <meta name="twitter:card" content="app">
    <meta name="twitter:text:title" content="Wandern | Plan your trail accommodation">
    <meta name="twitter:title" content="Wandern | Plan your trail accommodation">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image:src" content="http://wanderntrails.com/og-image.png"> -->

    {% endwith %}

    <meta name="author" content="Alizeh Khan & Seyhan Van Khan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 32×32 -->
    <!-- <link rel="icon" href="https://wanderntrails.com/favicon.ico"> -->
    <!-- <link rel="icon" href="https://wanderntrails.com/icon.svg" type="image/svg+xml" sizes="any"> -->
    <!-- 180×180 -->
    <!-- <link rel="apple-touch-icon" href="https://wanderntrails.com/apple-touch-icon.png"> -->
    <!-- <link rel="manifest" href="https://wanderntrails.com/manifest.webmanifest"> -->

    <link href="{% sass_src 'registration/stylesheets/application.scss' %}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
